name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: stable

    - name: Build
      run: |
        mkdir -p bin
        go build -v -o bin/solardata_exporter .

    - name: Test
      run: go test -v .
